<ul class="nav nav-pills">
	<li role="presentation" class="active"><a href="#/home">Home</a></li>
	<li role="presentation"><a href="#/modify">Modify Data</a></li>
	<li role="presentation"><a href="#/upload">Upload</a></li>
</ul>
<h3><small>Password Pronunciation Plugin</small></h3>
<hr />
<h2>{{headline}}</h2>
<p>This is the <i>Password Pronunciation Plugin</i> page. From here you will have the following options:<br/>
	<ul>
		<li><a href="#/modify">Modify existing pronunciation data</a></li>
		<li><a href="#/upload">Upload new pronunciation data</a></li>
	</ul>
</p>